*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #edf8f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
}

.left-section{
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-image{
  width: 100%;
  max-width: 450px;
}

.login-box{
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.logo-area{
  text-align: center;
  margin-bottom: 20px;
}

.logo{
  width: 180px;
}

h2{
  text-align: center;
  color: #2f6f57;
  margin-bottom: 30px;
}

form label{
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.password-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}

.password-top label{
  margin: 0;
}

.password-top a{
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  color: #3b82f6;
  text-decoration: none;
}

.password-box{
  position: relative;
  display: flex;
  align-items: center;
}

.password-box input{
  width: 100%;
  padding-right: 45px;
}

.password-box i{
  position: absolute;
  right: 15px;

  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
  color: #777;
  font-size: 18px;

  line-height: 1;
}

.password-box i{
  position: absolute;
  right: 15px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 18px;
  transition: 0.3s;
}

.password-box i:hover{
  color: #3c8c67;
}

#message{
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.login-btn{
  width: 100%;
  padding: 12px;
  background: #3c8c67;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover{
  background: #2f6f57;
}

.divider{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
}

.divider span{
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider p{
  font-size: 12px;
  color: gray;
}

.social-login{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.social-btn{
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-btn img{
  width: 18px;
}

.register-link{
  margin-top: 30px;
  text-align: center;
}

.register-link p{
  margin-bottom: 8px;
}

.register-link a{
  color: #3b82f6;
  text-decoration: none;
}

@media (max-width: 900px){

  .container{
    flex-direction: column;
  }

  .left-section{
    display: none;
  }

}